/* line 5, ../scss/style.scss */
.container {
  margin-top: 20px;
}
/* line 8, ../scss/style.scss */
.container table {
  margin: 0 auto;
}

/* line 13, ../scss/style.scss */
.section {
  border: 1px solid #999;
}

/* line 18, ../scss/style.scss */
#popup table th {
  background: #444;
  color: #ccc;
}
/* line 22, ../scss/style.scss */
#popup table td, #popup table th {
  border: 1px solid #999;
  padding: 4px;
}
/* line 26, ../scss/style.scss */
#popup table tr.request-header td {
  background: #444;
  color: #ccc;
}

/* line 34, ../scss/style.scss */
#tips ul {
  list-style: none;
}
/* line 37, ../scss/style.scss */
#tips li {
  display: inline-table;
  border-right: 1px solid;
  margin-right: 8px;
  padding-right: 8px;
}
