/* line 5, ../scss/style.scss */
.container {
  margin-top: 20px;
}
/* line 8, ../scss/style.scss */
.container table {
  margin: 0 auto;
}

/* line 13, ../scss/style.scss */
.section {
  border: 1px solid #999;
}

/* line 17, ../scss/style.scss */
#menu button {
  margin-top: 4px;
}

/* line 21, ../scss/style.scss */
fieldset {
  margin: 2em 0;
}

/* line 25, ../scss/style.scss */
#status {
  position: fixed;
  top: -4px;
  left: 50%;
  opacity: 1;
  -webkit-transition: 0.5s top, 1s opacity;
}
/* line 32, ../scss/style.scss */
#status.upwards {
  display: block;
  top: -70px;
  opacity: 0;
}

/* line 39, ../scss/style.scss */
table.request {
  margin: 1em 0;
  width: 100%;
}
/* line 43, ../scss/style.scss */
table.request thead, table.request tbody, table.request tr {
  width: 100%;
}
/* line 47, ../scss/style.scss */
table.request.downlighted {
  color: #555;
  opacity: 0.6;
}
/* line 52, ../scss/style.scss */
table.request.highlighted {
  color: #600;
}
/* line 57, ../scss/style.scss */
table.request td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

/* line 67, ../scss/style.scss */
#popup {
  margin-top: 0.5em;
  min-width: 320px;
}
/* line 70, ../scss/style.scss */
#popup .message {
  margin-top: 3em;
}
/* line 74, ../scss/style.scss */
#popup #content {
  margin-top: 2.5em;
}
/* line 78, ../scss/style.scss */
#popup header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 4px 0 4px 0;
}
/* line 91, ../scss/style.scss */
#popup table th {
  background: #444;
  color: #ccc;
}
/* line 95, ../scss/style.scss */
#popup table td, #popup table th {
  border: 1px solid #999;
  padding: 4px;
}
/* line 99, ../scss/style.scss */
#popup table tr.request-header td {
  background: #444;
  color: #ccc;
}

/* line 108, ../scss/style.scss */
#tips ul {
  list-style: none;
}
/* line 111, ../scss/style.scss */
#tips li {
  display: inline-table;
  border-right: 1px solid;
  margin-right: 8px;
  padding-right: 8px;
}

/* line 119, ../scss/style.scss */
#path {
  border: 1px solid #eee;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
