@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

body {
    background: #eee;
    font-family: Arial;
    text-align: center;
    min-width:300px;
}

.section {
    border: 1px solid #999;
}

table {
    th {
        background: #444;
        color: #ccc;
    }
    td, th {
        border: 1px solid #999;
        padding: 4px;
    }
    tr.request-header td {
        background: #444;
        color: #ccc;
    }
}

#fields {
    float: left; width: 60%;
}

#tips {
    float: left; width: 39%;

    ul {
        list-style: none;
    }
    li {
        display: inline-table;
        border-right: 1px solid;
        margin-right: 8px;
        padding-right: 8px;
    }
}

button {
  $color: #eee;
  
  @mixin font-color {
    @if lightness($color) > 50 {
      color: rgba(black,0.8);
      text-shadow: 0 0.1em 0 rgba(white,0.5);
  	} @else {
  		color: rgba(white,0.85);
      text-shadow: 0 -0.08em 0 darken($color, 20%);
		}
  }
  
  font: bold 20px Arial,sans-serif;
  @include font-color;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.4em 2em 0.5em;
  border-radius: 0.30em;
  border: 1px solid;
  border-color: darken($color, 20%) darken($color, 30%) darken($color, 40%);
  background-color: $color;
  @include background-image(linear-gradient($color, darken($color, 10%)));
  @include box-shadow(0 0.1em 0.5em rgba(black,0.10), 0 0.1em 0.2em rgba(black,0.3), 0 -0.1em 0.07em rgba(black,0.3) inset, 0 0.1em 0.07em rgba(white,0.2) inset);
  @include transition(all 100ms);
  
  &:hover {
    @include box-shadow(0 0.1em 0.5em rgba(black,0.4), 0 0.1em 0.2em rgba(black,0.4), 0 -0.1em 0.07em rgba(black,0.3) inset, 0 0.1em 0.07em rgba(white,0.2) inset);
  }
  
  &:active {
    padding: 0.4em 2em 0.4em;
    margin-top: 0.1em;
    border-color: darken($color, 30%) darken($color, 20%) $color;
    @include background-image(linear-gradient(darken($color, 5%), $color));
    @include box-shadow(0 0.1em 0.2em rgba(black,0.1) inset, 0 0.1em 0.1em rgba(black,0.2) inset, 0.05em 0 0.07em rgba(black,0.2) inset, -0.05em 0 0.07em rgba(black,0.2) inset);
    @include transition(all 10ms);
  }
}
