@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

.container {
    margin-top: 20px;

    table {
        margin: 0 auto;
    }
}

.section {
    border: 1px solid #999;
}

#menu button {
margin-top:4px;
}

fieldset {
    margin: 2em 0;
}

#status {
    position: fixed;
    top: -4px;
    left: 50%;
    opacity: 1;
    -webkit-transition: 0.5s top, 1s opacity;

    &.upwards {
        display: block;
        top: -70px;
        opacity: 0;
    }
}

table.request {
    margin: 1em 0;
    width: 100%;

    thead, tbody, tr {
        width: 100%;
    }

    &.downlighted {
        color: #555;
        opacity: 0.6;
    }

    &.highlighted {
        color: #600;
    }

    td {
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            width: 100%;
        }
    }
}

#popup {
    margin-top: 0.5em;

    .message {
        margin-top: 3em;
    }

    #content {
        margin-top: 2.5em;
    }

    header {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        background: rgba(255,255,255,0.5);
        text-align: center;
        padding: 4px 0 4px 0;
    }

    min-width: 320px;
    table {
        th {
            background: #444;
            color: #ccc;
        }
        td, th {
            border: 1px solid #999;
            padding: 4px;
        }
        tr.request-header td {
            background: #444;
            color: #ccc;
        }
    }
}

#tips {

    ul {
        list-style: none;
    }
    li {
        display: inline-table;
        border-right: 1px solid;
        margin-right: 8px;
        padding-right: 8px;
    }
}

#path {
    border: 1px solid #eee;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
}

